<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to user_path(book.user) do %>
          <%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          <% end %>
        </td>
        <td><%= link_to book.title, book_path(book), class: "book_#{book.id}" %></td>
        <td><%= book.body %></td>
        <td id="favorite-btn<%= book.id %>">
         <%= render 'favorites/favorite-btn', book: book %>
        </td>
        <th>
          コメント数:
          <%= book.book_comments.count %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>7日間分の投稿数</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <% days = 6 %>
      <% while days != -1 do %>
      <td>
        <%=@this_week_book.where(created_at: days.day.ago.beginning_of_day..days.day.ago.end_of_day).count %>
        <% days -= 1 %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
<p class="text-center">7日間の投稿数の比較</p>
<canvas id="myChart" width="500" height=""></canvas>
<script>draw_graph();</script>